.App {
  display: grid;
  grid-template-rows: 64px  1fr 64px;    
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  color: var(--font-color);
  background-color: var(--bg-color);
}

